body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

input, button, select {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: 200px;
}

#image-container {
    position: relative;
    width: 528px;
    height: 473px;
    margin: 20px auto;
    text-align: center;
}

#mixbotImage {
    width: 100%;
    height: auto;
}

#part-select-left, #part-select-right {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#part-select-left {
    position: absolute;
    left: 10%;
}

#part-select-right {
    position: absolute;
    right: 10%;
}

.dropdown-container {
    margin-bottom: 10px;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

#line-top-body, #line-head, #line-bottom-body, #line-shoulders, #line-arms, #line-legs {
    position: absolute;
    background-color: black;
    width: 2px;
    height: 40px;
}

#line-top-body {
    top: 10%;
    left: 40%;
}

#line-head {
    top: 20%;
    left: 45%;
}

#line-bottom-body {
    top: 30%;
    left: 40%;
}

#line-shoulders {
    top: 20%;
    right: 40%;
}

#line-arms {
    top: 30%;
    right: 40%;
}

#line-legs {
    top: 40%;
    right: 40%;
}
